# Amlogic GPIO


config MESON_SUSPEND
    boolean "Meson suspend driver"
    select WAKELOCK
    help
      This is the Amlogic suspend  driver

config M8M2_SUSPEND
    boolean "Meson suspend driver for 32bit"
    depends on MESON_SUSPEND
    help
      This is the Amlogic suspend  driver

config GXBB_SUSPEND
    boolean "Meson suspend driver for 64bit"
    depends on MESON_SUSPEND
    help
      This is the Amlogic suspend  driver

config GXBB_FORCE_POWER_ON_STATE_AFTER_RESUME
    bool "Force to request the Power ON state after a resume"
    depends on WAKELOCK && EARLYSUSPEND && GXBB_SUSPEND
    default n
    help
      Force to request the Power ON state after a resume, causing to execute the late resume
      and prevent transition back into the suspended state.
